.formCodeDescription {
  margin-top: 15px;
  width: 100%;
  font-size: 14px;
  height: 70px;
}

.formCodeName {
  font-size: 14px;
  width: 100%;
}

.formCodeMultivaluedInput {
  margin-left: 10px;
  font-size: 14px;
}

.formCodeMultivaluedLabel {
  font-size: 14px;
  margin-top: 15px;
}
